@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stick&display=swap');


body
{
    margin: 0px;
    min-height: 300vh;
}

*
{
    box-sizing: border-box;
}

#header
{
    width: 100%;
    height: 80vh;
    background: url("bg1.jpg");
    background-position: center center;
    background-size: cover;
    position: relative;
    top: 0px;
    left: 0px;
    background-attachment: fixed;

}

#filter
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);

}

#pfp
{
    z-index: 100;
    position: absolute;
    left: 10%;
    top: 20vh;
}


#header > h1
{
    font-family: 'Kdam Thmor Pro', sans-serif;
    color: white;
    font-size: 45px;
    position: absolute;
    left: 30%;
    z-index: 100;
    top: 20vh;
    text-shadow: 0px 0px 10px white;

}


#header > p
{
    font-family: 'Stick', sans-serif;
    left: 30%;
    top:35vh;
    color: white;
    z-index: 100;
    position: absolute;
    font-size: 30px;
}


#header > button
{
    width: 200px;
    height: 50px;
    background: white;
    border: none;
    position: absolute;
    top: 50vh;
    left: 30%;
    font-family: 'Stick', sans-serif;
    font-size: 20px;
    border-radius: 50px;
    cursor: pointer;
    z-index: 100;
    transition: 0.3s;
}

#header > button:hover
{
    background: rgb(200,200,200);
}

#about
{
    width: 100%;
    height: 80vh;
    position: absolute;
    top: 80vh;
    left: 0px;
}



#block1
{
    position: absolute;
    left: 20px;
    top:20px;
}



#about > h1
{
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 65px;
    position: absolute;
    left: 20%;
    top: 20px;
    color: green;
}

#about > ul 
{
    position: absolute;
    left: 20%;
    top: 200px;
}



#about >  ul > li
{
    list-style-type: square;
    font-family: 'Stick' , cursive;
    font-size: 20px;
}

#about > ul > li > span
{
    font-weight: 700;
    color: green;
}

#sheepie
{
    position: absolute;
    left: 50%;
}





#achivements
{
    width: 100%;
    height: 80vh;
    position: absolute;
    top: 160vh;
    left: 0px;
}

#achivements > h1
{
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 65px;
    position: absolute;
    right: 25%;
    top: 20px;
    color: green;
}

#block2
{
    position: absolute;
    right: 20px;
    top:20px;
}

#achivements > ul 
{
    position: absolute;
    right: 15%;
    top: 200px;
}



#achivements >  ul > li
{
    list-style-type: square;
    font-family: 'Stick' , cursive;
    font-size: 20px;
}

#achivements > ul > li > span
{
    font-weight: 700;
    color: green;
}

#achivements > ul > li > a
{
    color: green;
    text-decoration: underline 3px solid green;
    background: yellow;
}




/* phone view */


@media only screen and (max-width:640px)
{
    #pfp
    {
        top: 5vh;
        left: 5%;
        width: 250px;
        height: 250px;
    }


    #header > h1
    {
        top: 40vh;
        left: 15%;
    }

    #header > p
    {
        font-size: 20px;
        left: 5%;
        top: 55vh;
    }

    #header > button
    {
        left: 15%;
        top: 70vh;
    }

    #block1
    {
        width: 150px;
        height: 150px;
        left: calc(50% - 75px);
    }

    #about > h1
    {
        font-size: 30px;
        left: 30%;
        top: 25vh;
    }

    #about > ul
    {
        top: 250px;
        left: 5px;
    }

    #sheepie
    {
        display: none;
    }

    #block2
    {
        width: 150px;
        height: 150px;
        left: calc(50% - 75px);
    }

    #achivements > h1
    {
        font-size: 30px;
        left: 20%;
        top: 25vh;
    }

    #achivements > ul
    {
        top: 250px;
        left: 5px;
    }

    #fishy
    {
        display: none;
    }



}